.Register{
    margin: auto;
    max-width: 650px;
}
  
h2{ 
    padding: 40px;
    padding-top: 100px;
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
}

.register-box{
text-align: right;
}

#register-btn-1{    
margin: 10px;  
}

#register-btn-1{  
margin: 10px;  
}