.Register{
    margin: auto;
    max-width: 650px;
}
  
h2{ 
    color: white;
    padding: 40px;
    padding-top: 100px;
    font-size: 60px;    
    font-weight: bolder;
    text-align: center;
}

.register-box{
text-align: right;
}

#register-input-id, 
#register-input-pw,
#register-input-name,
#register-input-email
{
    margin-top: 20px;
    margin-bottom: 10px;
}

#register-btn-1{    
margin: 10px;  
}

#register-btn-1{  
margin: 10px;  
}