.App {  
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(73, 68, 68);
}

.Header {  
  padding: 10px; 
  /* background: linear-gradient(to top, rgb(199, 225, 211), rgb(205, 204, 204)); */
  background: linear-gradient(45deg, rgb(207, 92, 207), Orange);
}
