.App {  
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.Header {  
  padding: 10px; 
  background: linear-gradient(to top, rgb(199, 225, 211), rgb(205, 204, 204));
}
